@import './topbar/topbar.scss';
@import './osd/osd.scss';
@import './wallpapers/wallpapers.scss';


* {
    background-color: transparent;
}

tooltip {
    background-color: transparent;
    background: transparent;
    border: none;
    box-shadow: none;
    text-shadow: none;
}
