@import '/home/dc9/.cache/wal/colors.scss';

// ------------------------------------
//  _____             _                
// |_   _|           | |               
//   | | ___  _ __   | |__   __ _ _ __ 
//   | |/ _ \| '_ \  | '_ \ / _` | '__|
//   | | (_) | |_) | | |_) | (_| | |   
//   \_/\___/| .__/  |_.__/ \__,_|_|   
//           | |                       
//           |_|                       
// ------------------------------------

$tb-background-color: rgba($background, 0.6);
$tb-border-color: rgba($foreground, 0.2);
$tb-foreground: $foreground;
$charging: rgba(0, 255, 0, 0.7);
$discharged: rgba(255, 0, 0, 0.7);

.topbar {
    border-width: 2px;
    border-color: $tb-border-color;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: $tb-background-color;
}

.clock,
.battery {
    padding: 4px;
    border-width: 1px;
    border-color: $tb-border-color;
    border-style: solid;
    border-radius: 20px;

    label {
        color: $tb-foreground;
        font-weight: bold;
    }
}

.battery.charging label {
    color: $charging;
}

.battery.discharged label {
    color: $discharged;
}
