@import '/home/dc9/.cache/wal/colors.scss';

// ------------------------------------
//  _____             _                
// |_   _|           | |               
//   | | ___  _ __   | |__   __ _ _ __ 
//   | |/ _ \| '_ \  | '_ \ / _` | '__|
//   | | (_) | |_) | | |_) | (_| | |   
//   \_/\___/| .__/  |_.__/ \__,_|_|   
//           | |                       
//           |_|                       
// ------------------------------------

$tb-background-color: rgba($background, 0.6);
$tb-border-color: rgba($foreground, 0.2);
$tb-foreground: $foreground;

.topbar {
    border-width: 2px;
    border-color: $tb-border-color;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: $tb-background-color;

    .wrapper {

        .end {
            .clock {
                padding: 4px;
                border-width: 1px;
                border-color: $tb-border-color;
                border-style: solid;
                color: $tb-foreground;
                font-weight: bold;
                border-radius: 20px;
            }
        }
    }
}